USE [master]
GO
/****** Object:  Database [TrabalhoIgorGladson]    Script Date: 12/12/2020 1:02:02 AM ******/
CREATE DATABASE [TrabalhoIgorGladson]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabalhoIgorGladson', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabalhoIgorGladson.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabalhoIgorGladson_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabalhoIgorGladson_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabalhoIgorGladson].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabalhoIgorGladson]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12/12/2020 1:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[IDCar] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Year] [varchar](4) NULL,
	[Price] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rents]    Script Date: 12/12/2020 1:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rents](
	[IDRent] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](11) NULL,
	[IDCar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
